<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.library.dao.UserDao">
    
	<insert id="joinUser" parameterType="java.util.HashMap">
		INSERT INTO userinfo ( userId, userPw, userName, joinDate)
		VALUES ( #{id}, #{password}, #{userName}, now())
	</insert>
	
	<select id="userJoinIdCheck" parameterType="String" resultType="String">
		SELECT userId FROM userinfo 
		 WHERE userId = #{id}
	</select>
	
	<select id="userLogin" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT userId, userSeq FROM userinfo 
		 WHERE userId = #{id}
		   AND userPw = #{password} 
	</select>
     
    <update id="userUpdate" parameterType="java.util.HashMap" >
    	UPDATE userinfo SET userName = #{ userName }
    	 WHERE userId = #{id}
    	   AND userSeq = #{userId_seq}
    	   AND userPw = #{password}
    </update> 
    
    <update id="userPassWDupdate" parameterType="java.util.HashMap" >
    	UPDATE userinfo SET userPw = #{ password_update }
    	 WHERE userSeq = #{userId_seq}
    	   AND userPw = #{password}
    </update>     
</mapper>
